bin/
dist/
research/
src/*.err
src/*.obj
src/build/
src/debug/
src/disassembly/
src/dist/
src/funclist
src/nbproject/private/
src/nbproject/Makefile-genesis.properties
src/nbproject/Makefile-*.mk
src/nbproject/Package-*.bash
tmp/

*(blueprint)*
