Firmware/bin/
Firmware/dist/
Firmware/research/
Firmware/src/*.err
Firmware/src/*.obj
Firmware/src/build/
Firmware/src/disassembly/
Firmware/src/dist/
Firmware/src/funclist
Firmware/src/nbproject/private/
Firmware/src/nbproject/Makefile-genesis.properties
Firmware/src/nbproject/Makefile-*.mk
Firmware/src/nbproject/Package-*.bash
Firmware/tmp/

Hardware/datasheets
Hardware/dist
Hardware/src/*-backups
Hardware/src/fp-info-cache
Hardware/src/*.kicad_prl
Hardware/src/*.kicad_*.lck
Hardware/research
