Firmware/bin/
Firmware/dist/
Firmware/research/
Firmware/src/*.err
Firmware/src/*.obj
Firmware/src/build/
Firmware/src/disassembly/
Firmware/src/dist/
Firmware/src/funclist
Firmware/src/nbproject/private/
Firmware/src/nbproject/Makefile-genesis.properties
Firmware/src/nbproject/Makefile-*.mk
Firmware/src/nbproject/Package-*.bash
Firmware/tmp/

Hardware/dist/
Hardware/research/
Hardware/tmp/
